.wrapper-container-latest {
  background-color: transparent;
}
.wrapper-nd-img {
  max-height: 300px;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
}

.img-fluid-st {
  max-height: 500px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-fluid-nd {
  max-height: 300px;
  min-height: 300px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-fluid-rd {
  max-height: 250px;
  min-height: 250px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.add-btn {
  background-color: transparent;
  width: 100%;
  height: 100%;
  max-height: 500px;
  padding: 0;
}
.wrapper-st {
  position: relative;
  padding: 0;
  width: 35%;
}
.text-st {
  color: white;
  position: absolute;
  bottom: 0;
  padding-left: 5%;
  padding-bottom: 2%;
  font-size: larger;
}
.wrapper-rd-img {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 420px;
}

.wrapper-container-nd {
  padding-right: 0;
  max-height: 500px;
  overflow: hidden;
  width: 65%;
}

.wrapper-bottom-lates-img {
  max-height: 250px;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
}
