.wrapper-container {
  height: 100%;
  margin-top: 100px;
  padding-bottom: 100px;
}
.wrapper-h1-title {
  background-color: transparent;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(212, 212, 212);
}
.wrapper-images {
  background-color: transparent;
  margin-bottom: 50px;
}
.img {
  width: 150px;
  height: 150px;
}

.wrapper-img-details {
  margin-bottom: 10px;
}
