.title-button-border {
  background-color: 'transparent';
  border-bottom: 3px solid red;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  box-shadow: none;
  z-index: 4;
}

.title-button {
  background-color: 'transparent';
}
.title-button-text {
  font-size: medium;
  font-weight: bold;
}

.wrapper-options {
  z-index: 2;
  padding: 2rem;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  position: absolute;
  margin-top: 35px;
}

.item-button {
  color: gainsboro;
  border-color: transparent;
}
.btn:focus {
  box-shadow: none;
}
