.App {
  text-align: center;
}

.wrapper-navbar {
  display: flex;
  justify-content: flex-end;
}
.wrapper-links {
  margin-right: 2rem;
  width: 5rem;
}

.links-btn {
  border-radius: 1rem;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.signUp-link {
  margin-right: 0rem;
}
