.containerMobileMenu {
  background-color: #d3d3d3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 60px;
}
.wrapper-menu-cart {
  margin-right: 0;
  margin-left: 50px;
}

.wrapper-content-link {
  margin-top: 1rem;
  margin-left: 50px;
}

.wrapper-links {
  margin-top: 10px;
}

.li-text {
  text-align: left;
}
